@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #344C64;
    font-family: 'Roboto', sans-serif;
}
/* Header Section Start Here */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-color: #2C3E50;
}
header div.logo h1{
    color: #fff;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s;
}
nav ul li a:hover{
    color: #3498DB;
}
/* Header Section Ends Here */
/* Main Section Start Here */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}




/* Upload Section Start Here  */
#textDownload {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;

}
#textDownload h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
div.error{
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
#textDownload form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form label{
    font-size: 20px;
    margin-bottom: 10px;
}

#textDownload input{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    font-size: 20px;
}

#textDownload button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 150px;
    font-size: 20px;
}
#textDownload button[type="submit"]:hover {
    background-color: #218838;
}

span#copy{
    font-size: 20px;
    font-weight: 500;
    background: #007bff;
    padding: 5px 8px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
span#copy:hover{
    background: #0056b3;
}



