@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #344C64;
    font-family: 'Roboto', sans-serif;
}
/* Header Section Start Here */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-color: #2C3E50;
}
header div.logo h1{
    color: #fff;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s;
}
nav ul li a:hover{
    color: #3498DB;
}
/* Header Section Ends Here */
/* Main Section Start Here */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}




/* Upload Section Start Here  */
#textupload {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;

}
#textupload h2 {
    margin-bottom: 20px;
    font-size: 38px;
    color: #fcfcfc;
    text-decoration: underline;
}

.NotesWritingContainer{
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
div.status{
    font-size: 20px;
    margin: 10px 0;
}
.NoteTitle{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}
.NoteTitle input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}
.NoteBody{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}
.NoteBody textarea{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    min-height: 50vh;
    line-height: 1.5;
}


#textupload button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 150px;
    font-size: 20px;
}
#textupload button[type="submit"]:hover {
    background-color: #218838;
}
/* Upload Section Ends Here  */
/* Success Message Start Here */
section#successMessage{
    background: #28a745;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}
div.status p{
    font-size: 16px;
    font-weight: 500;

}
div.message p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5;
}

div.url{
    background:#344C64;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
div.url span{
    font-size: 20px;
    font-weight: 500;
    background: #007bff;
    padding: 5px 8px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
div.url span:hover{
    background: #0056b3;
}
/* Success Message Ends Here */
/* Main Section Ends Here */