<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Notes</title>
    <link rel="stylesheet" href="/static/css/index.css">
    {% block stylefiles %}{% endblock stylefiles %}
</head>
<body>
    <header>
        <div class="logo">
            <h1>Text Sharing</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/download">Download</a></li>
            </ul>
        </nav>
    </header>
    <main>
       {% block mainsection %}{% endblock mainsection %}
        
    </main>
</body>
</html>