<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Notes</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Text Sharing</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/download">Download</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="successMessage">
            <div class="messageSection">
                <div class="status">
                    <p id="status"></p>
                </div>
                    <div class="message">
                        <p>File Uploaded URL:
                            <div class="url">
                                <url id="url">{{slug}}</url><br/>
                                <span id="urlcopy">Copy</span>
                            </div>
                        </p>
                        <p>File ID: 
                            <div class="url">
                            <strong id="fileid">{{fileid}}</strong><br/>
                            <span id="fileidcopy">Copy</span>
                        </div></p>
                    </div>
            <div class="message">
                <p>{{message}}</p>
            </div>
        </div>
        </section>
        <section id="textupload">
            <h2>Upload File</h2>
            <form action="#" method="post">
                {% csrf_token %} 
                <div class="NotesWritingContainer">
                    <div class="NoteTitle">
                        <input type="text" name="NoteTitle" id="NoteTitle" placeholder="Text Title" value='{{notetitle}}'>
                    </div>
                    <div class="NoteBody">
                        <textarea name="NoteContent" id="NoteContent" cols="30" rows="10" placeholder="Write your text here">{{notecontent}}</textarea>
                    </div>                       
                </div>
                <button type="submit" name="submit">Upload</button>
            </form>
        </section>
        
    </main>
</body>
</html>